
.check-page {
    @include wave-divider-top;
}

.checkout {
    max-width: 550px;
    margin: 0 auto;
}

.order-summary {
    @include cf;
    margin-bottom: $base;
    .item {
        @include cf;
        position: relative;
        margin-bottom: 12px;
    }
}

.order-summary .class-thumb {
    position: absolute;
    top: 0;
    left: 0;

    @include bp-max-width($xsmall) {
        display: none;
    }
}

.order-summary .class-info {
    padding: 0 100px 0 80px;
    .class-title {
        margin-bottom: 4px;
        font-size: 18px;
    }
    p {
        font-size: 15px;
    }

    @include bp-max-width($xsmall) {
        padding-left: 0;
    }
}

.order-summary .class-price-block {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    .class-price {
        font-weight: $bold;
    }
    .class-number {
        color: $clay;
        font-size: 15px;
    }
}

.order-summary .total {
    padding-top: 12px;
    border-top: 1px solid $lt-grey;
    text-align: right;
    font-weight: $bold;
}



/** Select Payment Method **/

.select-payment .form-radio {
    position: relative;
    [class*="logo-"] {
        display: inline-block;
        margin-left: 5px;
        background: $sprite-payment no-repeat;
    }
    .logo-credit {
        width: 161px;
        height: 24px;
        vertical-align: -6px;
    }
    .logo-paypal {
        width: 78px;
        height: 18px;
        background-position: 0 -36px;
        vertical-align: -5px;
    }
}

.form-cc-info {
    @include cf;
    margin-bottom: 0;
}

.form-exp-date {
    float: left;
    width: 220px;
    select {
        display: inline-block;
        width: 80px;
    }
    .date-divider {
        display: inline-block;
        margin: 0 8px;
        font-size: 18px;
    }
}

.form-secure-code {
    float: left;
    input {
        max-width: 120px;
    }
}

.form-footer {
    position: relative;
    padding-top: $base;
    border-top: 1px solid $lt-grey;
    .terms {
        padding-right: 210px;
        font-size: 15px;
        font-style: italic;
        @include bp-max-width($small) {
            margin-bottom: 12px;
            padding-right: 0;
        }
    }
    .form-submit {
        position: absolute;
        top: $base;
        right: 0;
        @include bp-max-width($small) {
            position: static;
            top: auto;
            right: auto;
        }
    }
}