.front .main .wrapper {
    margin: 0 20px;
}

.thumb {
    margin-bottom: 20px;
}

.thumb {
    display: block;
    position: relative;
    img {
        width: 100%;
    }
    a {
        display: block;
        position: relative;
    }
}

.thumb .title-block {
    @include single-transition(all, 0.15s, ease-in);
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    opacity: 0;
    display: block;
    background: rgba(255,255,255,0.95);
    text-align: center;
	h2 {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
}

.thumb:hover .title-block {
    opacity: 1;
}
