
.info-grid .col {
    float: left;
}

.info-grid .row {
    margin-bottom: 40px;
}

.info-grid .c1 {
    width: 25.666%;
    padding-right: 40px;
}

.info-grid .c2-c4 {
    width: 74.333%;
}

.info-grid .c3-c4 {
    width: 65.47%;
}

.info-grid .c2, .info-grid .c3 {
    width: 34.529%;
    padding-right: 40px;
}

.info-grid .c4 {
    width: 30.941%;
}

.info-grid .title {
    margin-bottom: 10px;
}

.info-list li {
    margin-bottom: 20px;
}

.info-list p {
    font-size: 14px;
    line-height: 20px;
}

.exhibition h3 {
    font-style: italic;
}

.instagram .title {
    margin-bottom: 14px;
}

.instagram li {
    margin-bottom: 20px;
}
