
.info-grid {
  margin: 0 -20px;
}

.info-grid [class*='col-'] {
  margin-bottom: 40px;
  padding: 0 20px;
}

.info-grid .block-experience {
  float: right;
}

.info-grid .title {
  margin-bottom: 10px;
}

.info-list li {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.info-list p {
  font-size: 14px;
  line-height: 20px;
}

.block-jason {
  @include bp-max-width($small) {
    display: none;
  }
}

.block-exhibition h3 {
  font-style: italic;
}

.block-instagram .title {
  margin-bottom: 14px;
}

.block-instagram .photo {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
