
.activity-list .item {
    @include wave-divider-top;
    position: relative;
    margin-bottom: $base;
    padding: $base*1.5 0;

    @include bp-max-width($large) {
        padding-bottom: 0;
    }
    @include bp-max-width($xsmall) {
        margin-bottom: $base;
        padding-top: $base;
    }
}

.activity-list .class-info {
    width: 100%;
    padding: 0 200px 0 180px;
    
    .get-directions {
        color: $red;
        font-family: $kult;
        font-weight: $semi;
        line-height: 1;
    }

    @include bp-max-width($large) {
        min-height: 166px;
        margin-bottom: $base;
        padding: 0 0 0 180px;
    }
    @include bp-max-width($small) {
        float: right;
        width: 66%;
        padding: 0 0 0 20px;
    }
    @include bp-max-width($xsmall) {
        float: none;
        width: 100%;
        padding: 0;
        margin-bottom: 12px;    
    }
}

.activity-list .class-info .class-title {
    color: $dk-green;
    font: $book 25px/1em $kult;

    @include bp-max-width($xsmall) {
        margin-bottom: 2px;
        font-size: 21px;
        line-height: 25px;
    }
}

.activity-list .class-info .provider {
    margin-bottom: 10px;
    color: $grey;
    font-size: 15px;
}

.activity-list .class-info p {
    color: $dk-green;
    font-size: 16px;
    line-height: 22px;

    @include bp-max-width($xsmall) {
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 18px;
    }
}

.activity-list .class-thumb  {
    position: absolute;
    top: $base*1.5;
    left: 0;
    width: 160px;
    text-align: center;
    .action-link {
        padding-top: 14px;
        display: block;
    }

    @include bp-max-width($small) {
        position: static;
        top: auto;
        left: auto;
        float: left;
        width: 33%;
    }
    @include bp-max-width($xsmall) {
        float: none;
        width: 100%;
        padding: 0;
        margin-bottom: 12px;
        text-align: left;
        img {
            display: none;
        }
    }
}

.activity-list .class-pricing {
    top: $base*1.5;
    right: 0;
    background: $creme;

    @include bp-max-width($large) {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        padding: 8px;
        p {
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;
        }
        .price {
            font-size: 32px;
            line-height: 1;
        }
        .length {
            margin-bottom: 0;
        }
    }
    @include bp-max-width($small) {
        clear: both;
        max-width: 400px;
        margin: 0 auto;
        p {
            display: block;
            margin: 0 0 4px;
            vertical-align: inherit;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .length {
            margin-bottom: 10px;
        }
    }
}
