
.class-list {
    position: relative;
    .title {
        margin-bottom: $base;
    }
}

.class-list .add-class-btn {
    position: absolute;
    top: -2px;
    right: 0;
    font-size: 19px;

    @include bp-max-width($xsmall) {
        top: -4px;
        font-size: 15px;
    }
}

.class-list .item {
    @include wave-divider-top;
    position: relative;
    margin-bottom: $base;
    padding: $base*1.5 0 $base;

    @include bp-max-width($large) {
        padding-bottom: 0;
    }
}

.class-list .class-thumb {
    position: absolute;
    top: $base*1.5;
    left: 0;
    width: 62px;
}

.class-list .class-info {
    @include cf;
    width: 100%;
    margin-top: -5px;
    padding: 0 274px 0 80px;
    [class*="info-col-"] {
        float: left;
        padding: 0;
    }
    p {
        font-size: 15px;
    }

    @include bp-max-width($large) {
        margin-bottom: 12px;
        padding-right: 0;
    }
}

.class-list .class-info .info-col-1 {
    width: 56%;
    padding-right: 18px;

    @include bp-max-width($large) {
        width: 100%;
        padding-right: 0;
    }
}

.class-list .class-info .info-col-2 {
    width: 44%;
    padding-top: 5px;

    @include bp-max-width($large) {
        width: 100%;
        padding-top: 0;
    }
}

.class-list .class-info .class-title {
    font-size: 18px;
    line-height: 1.5em;
}

.class-list .class-info .info-col-3 {
    position: relative;
    width: 20%;

}

.class-list .class-price {
    position: absolute;
    top: 27px;
    right: 180px;
    display: block;
    font-size: 30px;
    line-height: 1.5em;
    font-weight: $bold;

    @include bp-max-width($large) {
        position: static;
        top: auto;
        right: auto;
        display: inline-block;
        vertical-align: -5px;
        margin-right: 18px;
        padding-left: 80px;
        line-height: 1;
    }
    @include bp-max-width($xsmall) {
        vertical-align: -3px;
        margin-right: 10px;
        font-size: 24px;
    }
}

.class-actions {
    position: absolute;
    top: $base*1.5;
    right: 0;
    text-align: right;
    .edit-link {
        color: $clay;
        font-weight: $bold;
        font-size: 15px;
    }
    .icon-edit {
        display: inline-block;
        vertical-align: -1px;
    }
    p:first-of-type {
        margin-bottom: 6px;
    }

    @include bp-max-width($large) {
        position: static;
        top: auto;
        right: auto;
        text-align: left;
        display: inline-block;
        p {
            display: inline-block;
            margin-right: 10px;
        }
    }

    @include bp-max-width($xsmall) {
        .btn {
            padding: 0;
            background: none;
            color: $green;
            &:hover {
                background: none;
                color: $dk-green;
            }
        }
        .icon-edit {
            display: none;
        }
    }
}
