
.social-icons li {
    float: left;
    &:first-of-type {
        margin-right: 20px;
    }

    @include bp-max-width($small) {
        float: none;
        display: inline-block;
        margin: 0 10px;
    }
}

.social-icons a {
    color: $dk-green;
}