.footer .wrapper {
  padding: 12px 0;
  border-top: 2px solid #000;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.footer .copyright {
  @include bp-min-width($small) {
    float: left;
  }
  
  a {
    margin-left: 20px;
  }
}

.footer .contact-email {
  @include bp-min-width($small) {
    float: right;
  }
}
