.footer .wrapper {
  padding: $base 0;
  border-top: 2px solid #000;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.footer .copyright {
  @include bp-min-width($medium) {
    float: left;
  }
  
  .brad-link {
    margin-left: 20px;

    @include bp-max-width($small) {
      display: block;
    }
  }
}

.footer .contact-email {
  @include bp-min-width($medium) {
    float: right;
  }
}
