
.logo {
  @include font-size(16px);
	float: left;
	line-height: 1;
	text-transform: uppercase;
}

.logo .quote {
  @include font-size(13px);
  color: #aaa;
  line-height: 1;
  font-weight: $book;
  font-style: italic;
	text-transform: none;

  @include bp-max-width($small) {
    display: none;
  }
}

.hello {
  @include font-size(12px);
  float: right;
  color: #aaa;
  line-height: 1.25;
  text-transform: uppercase;
}
