
.logo {
  @include font-size(16px);
	float: left;
	line-height: 1;
	text-transform: uppercase;
}

.logo .mark {
  display: inline;
  margin-right: 6px;
  
  img {
    width: 168px;
  }
}

.logo .quote {
  @include font-size(13px);
  display: inline;
  vertical-align: -4px;
  color: #aaa;
  line-height: 1;
  font-weight: $book;
  font-style: italic;
	text-transform: none;

  @include bp-max-width($small) {
    display: none;
  }
}

.hello {
  @include font-size(12px);
  float: right;
  line-height: 1.5;
  text-transform: uppercase;
}
