* {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

iframe {
  width: 100%;
}

object {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

body {
  font: 400 1em/1.5em "proxima-nova", Helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1;
}

h1 {
  font-size: 48px;
  line-height: 60px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.project-title {
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 1;
}

.meta-info {
  font-size: 12px;
}

.wrapper {
  *zoom: 1;
  position: relative;
  max-width: 1600px;
  margin: 0 30px;
}
.wrapper:before, .wrapper:after {
  content: " ";
  display: block;
}
.wrapper:after {
  clear: both;
}

.header .wrapper {
  padding: 20px 0;
  border-bottom: 2px solid #000;
}

.main .wrapper {
  padding: 40px 0 20px;
}

.messages {
  display: none;
}

a {
  outline: none;
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #aaaaaa;
}

.btn {
  display: inline-block;
  padding: 2px 12px 3px;
  border-radius: 5px;
  background: #81ceeb;
  color: #fff;
}
.btn:hover {
  background: #62a7c1;
  color: #fff;
}

@media (min-width: 600px) {
  .grid {
    *zoom: 1;
    margin: 0 -10px;
  }
  .grid:before, .grid:after {
    content: " ";
    display: block;
  }
  .grid:after {
    clear: both;
  }
}

[class*='col-'] {
  width: 100%;
}
@media (min-width: 600px) {
  [class*='col-'] {
    float: left;
    padding: 0 10px;
  }
}
[class*='col-'] .wrap {
  padding-top: 6px;
  border-top: 2px solid #000;
}

@media (min-width: 600px) {
  .col-3-4 {
    width: 75%;
  }
}

@media (min-width: 600px) {
  .col-2-3 {
    width: 66.66%;
  }
}

@media (min-width: 600px) {
  .col-1-2 {
    width: 50%;
  }
}

@media (min-width: 600px) {
  .col-1-4 {
    width: 25%;
  }
}

@media (max-width: 880px) {
  .grid-col-4 .col-1-4 {
    width: 50%;
    margin-bottom: 22px;
  }
  .grid-col-4 .col-1-4:nth-child(2n+1) {
    clear: left;
  }
}

/** PROJECT IMAGE GRID ==========**/
.project-images {
  *zoom: 1;
}
.project-images:before, .project-images:after {
  content: " ";
  display: block;
}
.project-images:after {
  clear: both;
}

[class*='image-'] {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  [class*='image-'] {
    float: left;
    padding: 0 10px;
  }
}

@media (min-width: 600px) {
  .image-size-25 {
    width: 25%;
  }
}

@media (min-width: 600px) {
  .image-size-33 {
    width: 33.33%;
  }
}

@media (min-width: 600px) {
  .image-size-50 {
    width: 50%;
  }
}

@media (min-width: 600px) {
  .image-size-66 {
    width: 66.66%;
  }
}

@media (min-width: 600px) {
  .image-size-75 {
    width: 75%;
  }
}

.form-item {
  margin-bottom: 12px;
}
.form-item:last-of-type {
  margin-bottom: 0;
}
.form-item .description {
  font-size: 12px;
}

label {
  display: block;
  margin-bottom: 2px;
  font-family: "proxima-nova", Helvetica, arial, sans-serif;
  font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 100%;
  max-width: 340px;
  padding: 8px 12px;
  background: rgba(170, 170, 170, 0.1);
  border: 1px solid #aaaaaa;
  font: 400 1em/1em "proxima-nova", Helvetica, arial, sans-serif;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #000;
}

textarea {
  height: 5em;
}

/** Buttons ============**/
input[type="submit"], button {
  padding: 0.5em 1em;
  border-radius: 4px;
  background: #000;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  font: 400 1em/1.5em "proxima-nova", Helvetica, arial, sans-serif;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  cursor: pointer;
}
@media (max-width: 600px) {
  input[type="submit"], button {
    width: 100%;
  }
}

input[type="submit"]:hover, button:hover {
  color: #fff;
}

[class*="icon-"] {
  display: inline-block;
  background: url('../images/sprite.svg?1407187374') no-repeat no-repeat 0 0;
}

.icon-twitter {
  width: 17px;
  height: 14px;
  background-position: 0 -84px;
}

.icon-facebook {
  width: 8px;
  height: 16px;
  background-position: -19px -84px;
}

.thumb {
  margin-bottom: 20px;
}

.thumb {
  display: block;
  position: relative;
}
.thumb img {
  width: 100%;
}
.thumb a {
  display: block;
  position: relative;
}

.thumb .title-block {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  opacity: 0;
  display: block;
  background: rgba(255, 255, 255, 0.98);
  text-align: center;
}
.thumb .title-block h2 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
}

.thumb:hover .title-block {
  opacity: 1;
}

.info-grid {
  margin: 0 -20px;
}

.info-grid [class*='col-'] {
  margin-bottom: 40px;
  padding: 0 20px;
}

.info-grid .block-experience {
  float: right;
}

.info-grid .title {
  margin-bottom: 10px;
}

.info-list li {
  margin-bottom: 20px;
}
.info-list li:last-of-type {
  margin-bottom: 0;
}

.info-list p {
  font-size: 14px;
  line-height: 20px;
}

.block-exhibition h3 {
  font-style: italic;
}

.block-instagram .title {
  margin-bottom: 14px;
}

.block-instagram .photo {
  margin-bottom: 20px;
}
.block-instagram .photo:last-of-type {
  margin-bottom: 0;
}

#user-login {
  max-width: 360px;
  margin: 0 auto 88px;
}

.project .project-title {
  margin-bottom: 6px;
}

.project-description {
  *zoom: 1;
  position: relative;
}
.project-description:before, .project-description:after {
  content: " ";
  display: block;
}
.project-description:after {
  clear: both;
}
.project-description .body {
  margin-bottom: 22px;
}

.project-description p {
  line-height: 1.3em;
  margin-bottom: 18px;
}
.project-description p:last-of-type {
  margin-bottom: 0;
}

.site-link {
  float: left;
}

.social-links {
  *zoom: 1;
  float: right;
}
.social-links:before, .social-links:after {
  content: " ";
  display: block;
}
.social-links:after {
  clear: both;
}
.social-links [class*="ico-"] {
  float: left;
  margin-left: 4px;
}

.project-credits p,
.project-awards p {
  font-size: 12px;
  line-height: 1.4em;
}

.project-credits h3 {
  font: 700 12px/1.4em "proxima-nova", Helvetica, arial, sans-serif;
}

/** PROJECT IMAGES ================**/
@media (min-width: 600px) {
  .project-images {
    margin: 0 -10px 22px;
  }
}

.project-image-grid .col {
  float: left;
  margin-bottom: 20px;
  padding: 0 10px;
}

.project-layout-vert .grid {
  margin: 0;
}
@media (min-width: 600px) {
  .project-layout-vert .grid {
    margin: 0 -10px;
  }
}

@media (max-width: 880px) {
  .project-layout-vert .col-1-4,
  .project-layout-vert .col-3-4 {
    float: none;
    width: 100%;
  }
}

.project-layout-vert .project-description,
.project-layout-vert .project-credits {
  margin-bottom: 40px;
}

@media (max-width: 880px) and (min-width: 600px) {
  .project-layout-vert .project-credits,
  .project-layout-vert .project-awards {
    float: left;
    width: 50%;
    padding: 0 10px;
  }
}

@media (max-width: 880px) {
  .project-layout-horiz .col-1-2 {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (min-width: 600px) {
  .project-layout-horiz .col-1-4 {
    width: 50%;
  }
}
@media (min-width: 880px) {
  .project-layout-horiz .col-1-4 {
    width: 25%;
  }
}

@media (max-width: 600px) {
  .project-layout-horiz .project-credits {
    margin-bottom: 40px;
  }
}

.project-layout-horiz .project-info {
  margin-bottom: 60px;
}

.project-layout-horiz .social-links {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.project-nav {
  clear: both;
  position: relative;
  height: 40px;
  text-align: center;
}

.project-nav a {
  position: absolute;
  display: block;
  background: url(../images/sprite.svg) no-repeat;
}

.project-nav a:hover {
  opacity: 0.5;
}

.project-nav .previous,
.project-nav .next {
  bottom: 0;
  width: 12px;
  height: 21px;
}

.project-nav .previous {
  left: 0;
}

.project-nav .next {
  right: 0;
  background-position: -14px 0;
}

.project-nav .back-to-thumbs,
.project-nav .scroll-top {
  left: 50%;
}

.project-nav .scroll-top {
  width: 21px;
  height: 12px;
  margin-left: -10px;
  background-position: 0 -23px;
}

.project-nav .back-to-thumbs {
  bottom: 0;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-position: 0 -50px;
}

.logo {
  float: left;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}

.logo .quote {
  color: #aaa;
  font: 400 italic 14px/1em "proxima-nova", Helvetica, arial, sans-serif;
  text-transform: none;
}
@media (max-width: 600px) {
  .logo .quote {
    display: none;
  }
}

.hello {
  float: right;
  color: #aaa;
  font: 700 12px/1.25em "freight-sans-pro", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.nav a {
  display: block;
  padding: 12px 0;
  font: 700 14px/1em "freight-sans-pro", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.menu {
  float: left;
}
.menu.show {
  display: block;
}

.menu li {
  float: left;
  margin-right: 30px;
}
.menu li:last-child {
  margin-right: 0;
  padding-right: 0;
}

.menu .active,
.node-type-project .first a {
  border-bottom: 2px solid #000;
}

/** Cat Nav **/
.nav .categories {
  float: right;
}
@media (max-width: 600px) {
  .nav .categories {
    display: none;
  }
}

.nav .cat-toggle {
  float: right;
  font-size: 18px;
  margin-left: 20px;
  padding: 8px 0 0;
}
.nav .cat-toggle .cat-close {
  display: none;
}

.cat-nav {
  float: right;
  display: none;
}

.cat-nav li {
  position: relative;
  float: left;
  margin-left: 20px;
  padding-left: 20px;
}

.cat-nav li:not(:first-child):after {
  content: "//";
  position: absolute;
  top: 11px;
  left: -4px;
  font: 700 14px/1em "freight-sans-pro", Helvetica, Arial, sans-serif;
}

.footer .wrapper {
  padding: 12px 0;
  border-top: 2px solid #000;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .footer .copyright {
    float: left;
  }
}
.footer .copyright a {
  margin-left: 20px;
}

@media (min-width: 600px) {
  .footer .contact-email {
    float: right;
  }
}
