$pad: 10px;

.grid {
  @include bp-min-width($large) {  
    @include cf;
    margin: 0 -10px;
  }
}

[class*='col-'] {
  width: 100%;

  @include bp-min-width($large) {  
    float: left;
    padding: 0 10px;
  }
  
  .wrap {
    padding-top: 6px;
    border-top: 2px solid #000;
  }
}

.col-3-4 {
  @include bp-min-width($large) {  
    width: 75%;
  }
}

.col-2-3 {
  @include bp-min-width($large) {  
    width: 66.66%;
  }
}

.col-1-2 {
  @include bp-min-width($large) {  
    width: 50%;
  }
}

.col-1-4 {
  @include bp-min-width($large) {  
    width: 25%;
  }
}

.grid-col-4 .col-1-4 {
  @include bp-max-width($large) {
    width: 50%;
    margin-bottom: $base;
    
    &:nth-child(2n+1) {
      clear: left;
    }
  }
}


/** PROJECT IMAGE GRID ==========**/

.project-images {
  @include cf;
}

[class*='image-'] {
  width: 100%;
  margin-bottom: 20px;

  @include bp-min-width($small) {  
    float: left;
    padding: 0 10px;
  }
}

.image-size-25 {
  @include bp-min-width($small) {
    width: 25%;
  }
}

.image-size-33 {
  @include bp-min-width($small) {
    width: 33.33%;
  }
}

.image-size-50 {
  @include bp-min-width($small) {
    width: 50%;
  }
}

.image-size-66 {
  @include bp-min-width($small) {
    width: 66.66%;
  }
}

.image-size-75 {
  @include bp-min-width($small) {
    width: 75%;
  }
}

