
[class*="icon-"] {
  display: inline-block;
  background: $sprite no-repeat 0 0;
}

.icon-twitter {
  width: 17px;
  height: 14px;
  background-position: 0 -84px;
}

.icon-facebook {
  width: 8px;
  height: 16px;
  background-position: -19px -84px;
}