/*
$proxima: "proxima-nova", Helvetica, arial, sans-serif;
$freight: "freight-sans-pro", Helvetica, Arial, sans-serif;
*/
$sans: "Graphik Web", Helvetica, arial, sans-serif;

$light: 300;
$book:  400;
$semi:  600;
$bold:  700;

$base:  22px;

body {
  font: $book 1em/1.5em $sans;
}

h1,h2,h3,h4,h5 {
	font-weight: $bold;
	line-height: 1;
}

h1 {
  font-size: 48px;
  line-height: 60px;
}

h2 {
  font-size: 24px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 15px;
}

p {
	font-size: 15px;
	line-height: $base;
}

strong {
	font-weight: $bold;
}

em {
	font-style: italic;
}

.project-title {
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 1;
}

.meta-info {
  font-size: 12px;
}
