.project .project-title {
  margin-bottom: 6px;
}

.project-description {
  @include cf;
  position: relative;

  .body {
    margin-bottom: $base;
  }
}

.project-description p {
  line-height: 1.3;
  margin-bottom: 18px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.site-link {
  float: left;
}

.social-links {
  @include cf;
  float: right;

  [class*="ico-"] {
    float: left;
    margin-left: 4px;
  }
}

.project-credits p,
.project-awards p {
  font-size: 12px;
  line-height: 18px;
}

.project-credits h3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: $bold;
  letter-spacing: 0.025em;
}

.project-credits strong,
.project-awards strong {
  letter-spacing: 0.025em;
}


/** PROJECT IMAGES ================**/

.project-images {
  @include bp-min-width($small) {
    margin: 0 -10px $base;
  }
}

.project-image-grid .col {
  float: left;
  margin-bottom: 20px;
  padding: 0 10px;
}

.project-images img {
  width: 100%;
}
