.project .project-title {
  margin-bottom: 6px;
}

.project-description {
  position: relative;

  .body {
    margin-bottom: $base;
  }
}

.project-description p {
  line-height: 1.3em;
  margin-bottom: 18px;

  &:last-of-type {
    margin-bottom: 0;
  }
}



.social-links {
  @include cf;

  [class*="ico-"] {
    float: left;
    margin-left: 4px;
  }
}


.project-credits p,
.project-awards p {
font-size: 12px;
line-height: 1.4em;
}

.project-credits h3 {
font: 700 12px/1.4em $proxima;
}


/** PROJECT IMAGES ================**/

.project-vert-layout .project-images {}

.project-image-grid .col {
float: left;
margin-bottom: 20px;
padding: 0 10px;
}

.project-image-grid {}

