
.project-layout-horiz .project-images {
  margin: 0 -10px $base;
}

.project-layout-horiz .col-1-2 {
  @include bp-max-width($large) {
    width: 100%;
    margin-bottom: $base;
  }
}


.project-layout-horiz .col-1-4 {
  @include bp-max-width($large) {
    width: 50%;
  }

  @include bp-max-width($small) {
    width: 100%;
  }
}

.project-layout-horiz .project-credits {
  @include bp-max-width($small) {
    margin-bottom: $base;
  }
}

.project-layout-horiz .project-info {
    margin-bottom: 60px;
}

.project-layout-horiz .social-links {
    position: absolute;
    bottom: 0;
    right: 10px;
}