
.project-layout-vert .grid {
  margin: 0;
  
  @include bp-min-width($small) {
    margin: 0 -10px;
  }  
}

.project-layout-vert .col-1-4,
.project-layout-vert .col-3-4 {
  @include bp-max-width($large) {
    float: none;
    width: 100%;
  }
}

.project-layout-vert .project-description,
.project-layout-vert .project-credits {
  margin-bottom: 40px;
}

.project-layout-vert .project-credits,
.project-layout-vert .project-awards {
  @include bp-max-min-width($large, $small) {
    float: left;
    width: 50%;
    padding: 0 $pad;
  }
}

